<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Contact</title>
</head>
<body>
    <header></header>
    <section class="banner">Contact Us</section>
     <section class="sm:mt-20 mt-10">
        <h1 class="xsm:text-xlp text-2xl text-black-dark font-DM-serif-Display text-center xsm:w-[280px] mx-auto w-[320px]">We love meeting new people and helping them.</h1>
     </section>
     <section class="mt-12">
        <div class="grid grid-cols-1 ">
            <div>
                
            </div>
        </div>
     </section>
    <footer></footer>
     <script type="module" src="/main.js"></script>
</body>
</html>