<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
   <header></header>
    <section class="banner">Our Projects</section>
      <section class="mt-9 project-category">
       
    </section>
   
    <section class="mt-9 project-items "></section>
      <section class="mt-28 ">
     <div class="flex gap-5 mx-auto w-[266px]">
      <div class="rounded-full grid place-content-center bg-black-lighest size-12">01</div>
      <div class="rounded-full grid place-content-center border border-orange-light size-12">02</div>
      <div class="rounded-full grid place-content-center border border-orange-light size-12">03</div>
      <div class="rounded-full grid place-content-center border border-orange-light size-12"><i class="fa-solid fa-chevron-right"></i></div>


     </div>
    
    </section>
    <footer></footer>
  
  
    <script type="module" src="/components/projectItemGenenrator.js"></script>
    <script type="module" src="/components/categoryBar.js"></script>
    <script type="module" src="/main.js"></script>
</body>
</html>